.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include absoluteCentre;

    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    @include respond(tab-land) {
      display: block;
    }
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;

    @include respond(tab-land) {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__right {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      display: inline-block;
      width: 49%;
      transform: scale(1.1);
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;

    @include respond(tab-land) {
      column-count: unset;
    }
  }

  // Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      color: $color-grey-dark;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
